table {
    border-collapse: collapse;
    border: 1px black solid;
    font-size: 14px;
}

table th, table td {
    padding: 3px;
}

tbody tr:nth-child(even) {
    background-color: #dddddf;
}

p {
    font-size: 18px;
    font-weight: bold;
}

.nav {
    /*  ширна произвольная, не стесняйтесь экспериментировать */
    width: 320px;
    min-width: 320px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -320px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background: #f0ebcf;
    /* поверх других элементов */
    z-index: 2000;
}

/**
 * Кнопка переключения панели
 * тег <label>
 */

.nav-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно левого края панели */
    left: 320px;
    /* отступ от верхнего края панели */
    top: 1em;
    /* внутренние отступы */
    padding: 0.5em;
    /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
    background: inherit;
    /* цвет текста */
    color: #cf4b4b;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.2em;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}

/* определяем текст кнопки
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}

/* цвет текста при наведении */

.nav-toggle:hover {
    color: #812c2c;
}

/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */

[id='nav-scp'], [id='nav-pers'], [id='nav-equip'] {
    position: absolute;
    display: none;
}

/**
 * изменение положения переключателя
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/

[id='nav-scp']:checked ~ .nav[id='scp'] > .nav-toggle, [id='nav-pers']:checked ~ .nav[id='pers'] > .nav-toggle,
[id='nav-equip']:checked ~ .nav[id='equip'] > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}

/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */

[id='nav-scp']:checked ~ .nav[id='scp'], [id='nav-pers']:checked ~ .nav[id='pers'], [id='nav-equip']:checked ~ .nav[id='equip'] {
    left: 0;
    box-shadow:4px 0 20px 0 rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X),
 * вы можете испльзовать любой другой значок
*/

[id='nav-scp']:checked ~ .nav[id='scp'] > .nav-toggle:after, [id='nav-pers']:checked ~ .nav[id='pers'] > .nav-toggle:after,
[id='nav-equip']:checked ~ .nav[id='equip'] > .nav-toggle:after {
    content: '\2715';
}

/**
 * Формируем стиль заголовка (логотип) панели
*/

.nav h2 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.nav h2 {
    color: #cf4b4b;
    text-decoration: none;
    text-transform: uppercase;
}


/*плавное появление заголовка (логотипа) при раскрытии панели */

[id='nav-scp']:checked ~ .nav[id='scp'] h2, [id='nav-pers']:checked ~ .nav[id='pers'] h2, [id='nav-equip']:checked ~ .nav[id='equip'] h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */

.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-scp']:checked ~ .nav[id='scp'] > ul > li, [id='nav-pers']:checked ~ .nav[id='pers'] > ul > li,
[id='nav-equip']:checked ~ .nav[id='equip'] > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/**
 * оформление ссылок пунктов меню
 */

.nav > ul > li > label {
    display: inline-block;
    position: relative;
    padding: 0;
    font-weight: 150;
    font-size: 0.8em;
    color: #dadada;
    width: 150%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}

/**
 * состояние ссылок меню при наведении
 */

.nav > ul > li > label:hover,
.nav > ul > li > label:focus {
    color: white;
    padding-left: 15px;
}

/**
 * линия подчеркивания ссылок меню
 */

.nav > ul > li > label:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav > ul > li > label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

/**
 * анимируем линию подчеркивания
 * ссылок при наведении
 */

.nav > ul > li > label:hover:before {
    width: 0%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > label:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}






.left_menu{
    overflow: scroll;
    height: 650px;
}

.left_menu::-webkit-scrollbar{
    width: 10px;
}

.menu1 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 200px;
}

.menu1 label {
    background-color: #c15150;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid #33ADFF;
    display: inline-block;
}

.menu1 li {
    border-left: 10px solid #c15151;
    border-bottom: 1px solid #b25454;
}

.menu1 label:hover {
    background-color: #812c2c;
    border-left: 5px solid #3333FF;
}

.hidden_block {
    width:600px;
    background:#176387;
    color:#fff;
    font-size:25px;
    border:3px solid #2BA2DB;
    padding:20px;
    margin:auto;
    text-align:center;
    display: inline-block;
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 0.5s; /*Скорость перехода состояния элемента*/
}

.menu1 label:hover ~ .hidden_block{
    opacity:1;
    transition: 0.5s;
}

.left_menu {
    float:left;
    width:24%;
    display: inline-block;
}

.query {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form_block {
    display: block;
}

.form_label {
    display: inline-block;
    width: 100px;
}

#scp_obj,#pers_obj, #equip_obj {
    display: inline-block;
    margin: 20px;
    width: 100px;
    height: 20px;
}

