table {
    border-collapse: collapse;
    border: 1px black solid;
    font-size: 14px;
}

table th, table td {
    padding: 3px;
}

tbody tr:nth-child(even) {
    background-color: #dddddf;
}

p {
    font-size: 18px;
    font-weight: bold;
}