<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit.css}"/>
</head>
<body>
    <form class="query" th:action="@{/edit}" th:object="${report}" method="post">
        <div class="form_block">
            <label class="form_label">
                <p>Номер отчета</p>
                <input type="text" value="id-report" th:field="*{id}" readonly>
            </label>

        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Триггер</p>
                <input type="text" value="id-report" th:field="*{trigger_type}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Время срабатывания триггера</p>
                <input type="text" value="id-report" th:field="*{trigger_committed}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Экипировка</p>
                <input type="text" value="id-report" th:field="*{equipment}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Описание реальности</p>
                <input type="text" value="id-report" th:field="*{reality_description}">
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Статус отчета</p>
                <input type="text" value="id-report" th:field="*{log_status}">
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Заметки</p>
                <input type="text" value="id-report" th:field="*{note}">
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Полученный предмет</p>
                <input type="text" value="id-report" th:field="*{item}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                 <p>SCP-объект</p>
                <input type="text" value="id-report" th:attr="value='SCP-' + *{scp_object}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Направляющий</p>
                <input type="text" value="id-report" th:attr="value='LV' + *{clearance_level} + ' '
                                + *{classification} + ' ' + *{personnel_name}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Мобильная группа</p>
                <input type="text" value="id-report" th:field="*{mobile_group}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Координаты появления объекта</p>
                <input type="text" value="id-report" th:attr="value=*{latitude} + ', ' + *{longitude}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Время возвращения на Землю</p>
                <input type="text" value="id-report" th:field="*{return_to_reality}" readonly>
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Время возвращения в Фонд</p>
                <input type="text" value="id-report" th:field="*{return_to_foundation}">
            </label>
        </div>
        <div class="form_block">
            <label class="form_label">
                <p>Итог миссии</p>
                <input type="text" value="id-report" th:attr="value=(*{succeed} ? 'Успех' : 'Провал')" readonly>
            </label>
        </div>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>