<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of all SCPs in database</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="button_report">
    <input type="button" onclick="window.location.href = '/navigation';" value="Навигация"/>
</div>
<p>
    Just a list of SCP.
</p>
<table>
    <tr th:each="scp:${scpEntities}">
        <td th:utext="${scp.id}">...</td>
        <td th:utext="${scp.name}">...</td>
        <td th:utext="${scp.description}">...</td>
    </tr>
</table>
</body>
</html>