# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Information Systems and DB\Course_work\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
